@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 10px;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.dropdown-item.active {
  background-color: #fff !important;
}

polyline {
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

text {
  font-size: 10px;
}

.row {
  width: 100%;
  margin: 0 auto;
}

.block {
  width: 600px;
  display: inline-block;
}
